.stopwatch {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin: 30px;
}

.time-frame {
  margin: 20px;
  padding: 20px;
  font-size: 5rem;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  width: 100px;
  cursor: pointer;
}

.buttons button:nth-child(1) {
  background-color: green;
}

.buttons button:nth-child(2) {
  background-color: darkred;
}

.buttons button:nth-child(3) {
  background-color: goldenrod;
}

.buttons button:last-child {
  background-color: pink;
}
